@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color:#ca8a04;
    --text-dark:#1f2937;
    --text-light:#6b7280;
    --extra-light:#faf5ff;
    --max-width: 1200px;

}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: var(--extra-light);
    margin: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}

nav .logo{
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color-dark);
    padding: 0 100px;
    line-height: 80px;
    cursor: pointer;
}

nav .logo label{
    display: block;
    line-height: 80px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    
}
.nav-links li{
    display: inline-block;
    line-height:20px ;
    margin: 0 20px;
}

.nav-links li a{
    font-size: 16px;
    font-weight: bolder;
    color: var(--text-dark);
    text-decoration: none;
    padding: 7px 7px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: .3s;
}


.nav-links button{
    font-size: 16px;
    color: var(--text-dark);
    background-image: linear-gradient(135deg,var(--primary-color) 0%, #fd9f85d6 100%);
    border: none;
    outline: none;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 10px;
    transition: .3s;
}
.nav-links li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}
.nav-links li button a:hover{
    border: none;
    color: #ffffff;
}
.checkbox{
    font-size: 25px;
    color: var(--primary-color);
    line-height: 80px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



main{
    position: relative;
    top: 80px;
}

.hero{
    padding: 64px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.heading h1{
    font-size: 40px;

}
.heading p{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-light);
}
.heading p:nth-child(3){
    color: var(--text-light);
    font-style: italic;
}
.project-section{
    padding: 64px;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--extra-light);
    color: var(--text-dark);
    text-align: center;
}

.project-heading{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 16px;
}

.project-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
}

.project-item{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}
.project-item button:hover{
    background-color: var(--primary-color);
    color: #ffffff;
}
.project-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.project-item h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.project-item p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.project-item button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 16px 32px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
    transition: .3s;
    cursor: pointer;
}
.project-item button a:link{
    color: #000;
}
.project-item button a:visited{
    color: #000;
}
.project-item button a:hover{
    /* background-color: var(--primary-color-dark); */
    color: #ffffff;
}

@media screen and (max-width: 768px){
    nav{
        flex-direction: row-reverse;
    }
    .checkbox{
        display: block;
    }
    .nav-links{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        top: 80px;
        left: -100%;
        transition: all .5s;
        z-index: 2;
        text-align: center;

    }

    .nav-links li{
        display: block;
        margin: 60px 0;
        
    }

    .nav-links li a{
        font-size: 20px;
        color: var(--text-dark);
    }

    .nav-links li a:hover{
        color: var(--extra-light);
    }

    #check:checked ~ .nav-links{
        left: 0;
    }
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    
    .heading h1{
        font-size: 30px;
    text-align: center;

    }
    .heading p{
        font-size: 18px;
        font-weight: 600;
        color: var(--text-light);
    }
    
}